@{
  Layout = "_Layout";
}

<h1>Dr. Sillystringz's Factory</h1>

<ul class="menu-links">
  <li>@Html.ActionLink("see employee directory", "Index", "Engineers")</li>
  <li>@Html.ActionLink("see machine inventory", "Index", "Machines")</li>
</ul>
